[submodule "calibration_common"]
	path = calibration_common
	url = https://github.com/numalariamodeling/calibration_common.git
  branch = nu_pmc_modeling
[submodule "environment_calibration_common"]
	path = environment_calibration_common
	url = https://github.com/numalariamodeling/environment_calibration_common.git
  branch = nu_pmc_modeling
